# Copyright (c) 2021 Pete Johanson
# SPDX-License-Identifier: Apache-2.0

if BOARD_SEEEDUINO_XIAO_RP2040

config BOARD
	default "seeeduino_xiao_rp2040"

config RP2_FLASH_W25Q080
	default y

endif # BOARD_SEEEDUINO_XIAO_RP2040
