# Copyright (c) 2021 Pete Johanson
# SPDX-License-Identifier: Apache-2.0

if BOARD_01SPACE_RP2040_042LCD

config BOARD
	default "01space_rp2040_042lcd"

config RP2_FLASH_W25Q080
	default y

config I2C
	default y if LVGL

config SSD1306
	default y if LVGL

config SSD1306_REVERSE_MODE
	default y if SSD1306

if LVGL

config LV_Z_BITS_PER_PIXEL
	default 1

choice LV_COLOR_DEPTH
	default LV_COLOR_DEPTH_1


endchoice

endif # LVGL

endif # BOARD_01SPACE_RP2040_042LCD
