# Copyright (c) 2021 Pete Johanson
# SPDX-License-Identifier: Apache-2.0

if BOARD_ELITE_PI_RP2040

config BOARD
	default "elite_pi_rp2040"

config RP2_FLASH_W25Q080
	default y

endif # BOARD_ELITE_PI_RP2040
